.ui-btn {
  display: inline-block;
  font-family: Aeroport;
  background: transparent;
  font-size: 18px;
  color: #172542;
  border: 2px solid #000;
  // outline: 2px solid #000;
  height: 70px;
  line-height: 70px;
  border-radius: 70px;
  cursor: pointer;
  transition: 0.1s ease-out;
  text-align: center;
  padding: 0 53px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  letter-spacing: 0.02em;

  @media(max-width: 1250px) {
    height: 60px;
    line-height: 60px;
  }

  @media(max-width: 1024px) {
    height: 55px;
    line-height: 55px;
    font-size: 16px;
  }

  &:hover {
    color: #00AAFF;
    // border-color: #00AAFF;
    // outline: 2px solid #00AAFF;
    border-color: #00AAFF;
  }

  &.blue {
    background: #00AAFF;
    color: #fff;
    // border: none;
    // outline: none;
    border: 2px solid #00AAFF;

    &:hover {
      background: #11b0ff;
    }
  }
}

.ui-more {
  border: none;
  background: transparent;
  color: #00AAFF;
  font-family: 'Aeroport';
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  padding: 0;
}

.ui-title {
  font-size: 46px;
  font-weight: 500;
  line-height: 1.3;

  &.mini {
    font-size: 32px;

    @media(max-width: 1024px) {
      font-size: 30px;
    }

    @media(max-width: 768px) {
      font-size: 22px;
    }
  }

  @media(max-width: 1250px) {
    font-size: 40px;
  }

  @media(max-width: 1024px) {
    font-size: 32px;
  }

  @media(max-width: 768px) {
    font-size: 25px;
  }
}

.ui-link {
  display: inline-block;
  color: #00AAFF;
  position: relative;
  font-size: 25px;
  padding-left: 52px;

  @media(max-width: 1024px) {
    font-size: 20px;
    padding-left: 38px;
  }

  @media(max-width: 576px) {
    font-size: 18px;
    padding-left: 32px;
  }

  img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 36px;
    height: 36px;

    @media(max-width: 1024px) {
      width: 28px;
      height: 28px;
    }

    @media(max-width: 576px) {
      width: 24px;
      height: 24px;
    }
  }

  &:hover {
    color: #4fc4ff;
  }
}

.ui-input {
  width: 100%;
  height: 67px;
  border-radius: 10px;
  border: 1px solid #919191;
  padding: 0 26px;
  font-size: 18px;
  color: #172542;
  background: transparent;
  font-family: Aeroport;
  font-weight: 400;

  @media(max-width: 1024px) {
    height: 55px;
    font-size: 16px;
    padding: 0 18px;
  }

  &::placeholder {
    color: #8F8F8F;
  }
}

.ui-field {
  margin-bottom: 25px;

  @media(max-width: 576px) {
    margin-bottom: 20px;
  }
}

.ui-checkbox {
  display: block;
  position: relative;
  padding-left: 28px;
  font-size: 18px;

  @media(max-width: 1024px) {
    font-size: 16px;
  }

  .error {
    display: block;
  }

  a {
    // font-size: 18px;
    color: #00AAFF;
  }

  &-inline {
    display: inline-block;
    vertical-align: middle;
    margin-right: 25px;
  }

  &-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
  }

  &-label {
    cursor: pointer;

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      border: 1px solid #909090;
      background-color: transparent;
      border-radius: 4px;
      cursor: pointer;
      position: absolute;
      top: -2px;
      left: 0;
      z-index: 1;
      transition: .15s background-color, .15s border;
    }

    &::after {
      content: "";
      position: absolute;
      top: 3px;
      left: 4px;
      z-index: 1;
      width: 8px;
      height: 4px;
      border-left: 2px solid #FFF;
      border-bottom: 2px solid #FFF;
      opacity: 0;
      transition: .15s opacity, .15s transform;
    }

    span {
      color: #8F8F8F;
      position: relative;
      top: -4px;
    }
  }

  &:hover {
    .ui-checkbox-input+.ui-checkbox-label {
      &:before {
        border-color:  #2A4455;
      }
    }
  }

  &-input:checked {
    &+.ui-checkbox-label::before {
      border-color:  #2A4455;
      background-color:  #2A4455
    }

    &+.ui-checkbox-label::after {
      opacity: 1;
      transform: rotate(-45deg);
    }
  }
}

.ui-highlighted {
  background: #000;
  color: #fff;
  padding: 0 10px;
}

span.error {
  color: #bc0000;
}

.ui-input.error {
  margin-bottom: 5px;
}

.ui-arrow {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  z-index: 9;
  width: 40px;
  height: 40px;
  background-color: #00AAFF;
  border-radius: 50%;
  // box-shadow: $shadow;
  cursor: pointer;
  padding: 2px;
  text-align: center;
  font-size: 0;
  outline: none;
  user-select: none;

  @media(max-width: 1024px) {
    width: 32px;
    height: 32px;
  }
  &-prev {
    left: 0;

    img {
      position: relative;
      right: 1px;
    }
  }
  &-next {
    right: 0;

    img {
      position: relative;
      left: 1px;
    }
  }
  &-icon {
    fill: #000;
    margin: auto;
    display: block;
  }
  &:hover {
    background-color: #11b0ff;
  }
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: none;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: none;
}

.swiper-button-next, .swiper-button-prev{
  @media(max-width: 768px) {
    display: none;
  }
}

.ui-tabcontent {
  display: none;

  &.active {
    display: block;
  }
}

.ui-tablinks {
  position: relative;
  width: 100%;
  border: none;
  background: transparent;
  font-weight: 500;
  font-size: 25px;
  color: #292929;
  text-align: left;
  margin-bottom: 30px;
  font-size: 25px;
  font-family: Aeroport;
  padding: 0;
  cursor: pointer;
  padding-right: 40px;

  @media(max-width: 1024px) {
    font-size: 22px;
    margin-bottom: 24px;
  }

  @media(max-width: 768px) {
    font-size: 20px;
  }

  @media(max-width: 576px) {
    font-size: 18px;
  }

  &.active {
    svg {
      fill: #ABABAB;
      transform: rotate(-180deg);
    }
  }

  &:hover {
    color: #00AAFF;
  }

  svg {
    width: 28px;
    height: 15px;
    position: absolute;
    right: 0;
    fill: #00AAFF;
    transition: 0.3s transform;
    top: 10px;
    right: 0;
    pointer-events: none;

    @media(max-width: 1024px) {
      width: 20px;
    }
  }
}

.ui-tabcontent {
  font-size: 20px;
  margin-bottom: 40px;

  @media(max-width: 1024px) {
    font-size: 18px;
    margin-bottom: 25px;
  }

  @media(max-width: 768px) {
    font-size: 16px;
  }

  li {
    position: relative;
    padding-left: 16px;
    margin-bottom: 2px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 12px;
      width: 10px;
      height: 2px;
      background-color: #292929;
    }
  }
}

.ui-popup {
  max-width: 1000px;
  background: #fff;
  padding: 80px;
  margin: 0 auto;
  min-height: 524px;
  box-shadow: 0px 0px 54px -8px rgba(0, 0, 0, 0.03);
  border-radius: 42px;
  position: relative;

  @media(max-width: 1024px) {
    min-height: auto;
    padding: 80px 20px;
  }

  @media(max-width: 576px) {
    // border-radius: 0;
    // margin: 0 -15px;
    padding: 80px 15px;
  }

  .success-bg {
    position: absolute;
    right: 45px;
    bottom: 15px;
    z-index: 0;

    @media(max-width: 1024px) {
      display: none;
    }
  }

  .mfp-close {
    color: #CCCCCC;
    font-size: 0;
    line-height: 0;
    width: 30px;
    height: 30px;
    top: 60px;
    right: 60px;
    opacity: 1;

    @media(max-width: 1024px) {
      top: 25px;
      right: 25px;
    }

    &::before {
      content: '';
      background-image: url('../images/icon/close-popup.svg');
      background-repeat: no-repeat;
      position: absolute;
      width: 30px;
      height: 30px;
      background-size: 30px;
      top: 0;
      left: 0;
    }

    &:hover {
      &::before {
        opacity: .8;
      }
    }
  }
}

.my-mfp-zoom-in .mfp-anim { opacity: 0; transform: scale(0.75); transition: transform .3s .45s ease-in-out, opacity .3s .45s ease-in-out; }

.not_delay .my-mfp-zoom-in .mfp-anim,
.my-mfp-zoom-in .mfp-anim.not_delay { animation-delay: 0s !important; transition: transform .3s 0s ease-in-out, opacity .3s 0s ease-in-out; }

.my-mfp-zoom-in.mfp-ready .mfp-anim { opacity: 1; transform: scale(1); }

.my-mfp-zoom-in.mfp-removing .mfp-anim { transform: scale(0.75); opacity: 0; }

.mfp-container {
    padding-left: 15px!important;
    padding-right: 15px!important;
}