.header {
  padding-top: 50px;

  &-logo {
    @media(max-width: 420px) {
      display: flex;
      justify-content: space-between;
    }

    &-avito {
      img {
        height: 25px;
      }
    }

    &-avtohub {
      position: relative;
      top: 3px;

      @media(max-width: 420px) {
        position: relative;
        top: -3px;
      }

      img {
        height: 32px;
      }
    }
  }

  a {
    margin-right: 38px;

    &:last-child {
      margin-right: 0;
    }
  }
}