.greeting {
  &-section {
    position: relative;
    padding-top: 80px;
    padding-bottom: 85px;

    @media(max-width: 1250px) {
      padding: 80px 0;
    }

    @media(max-width: 1024px) {
      padding: 60px 0;
    }

    @media(max-width: 768px) {
      padding: 40px 0;
    }

    .car {
      position: absolute;
      bottom: 0;
      right: -83px;
      z-index: -1;

      @media(max-width: 1250px) {
        width: 750px;
        bottom: 50px;
        right: -63px;
      }

      @media(max-width: 1115px) {
        width: 700px;
        bottom: 70px;
        right: -83px;
      }

      @media(max-width: 1050px) {
        width: 650px;
      }

      @media(max-width: 1024px) {
        display: none;
      }
    }
  }

  &-info {
    max-width: 622px;
    padding-left: 54px;
    position: relative;

    @media(max-width: 1024px) {
      margin: 0 auto;
      padding-left: 0;
    }
  }

  &-txt {
    margin-bottom: 65px;
    position: relative;

    @media(max-width: 1024px) {
      margin-bottom: 32px;
    }

    @media(max-width: 768px) {
      margin-bottom: 28px;
    }

    .star-1 {
      position: absolute;
      right: -113px;
      top: -70px;
      z-index: -1;

      @media(max-width: 1024px) {
        width: 70px;
        right: -43px;
      }

      @media(max-width: 768px) {
        display: none;
      }
    }

    .star-2 {
      position: absolute;
      left: -71px;
      top: 227px;
      z-index: -1;

      @media(max-width: 1024px) {
        width: 70px;
        left: -31px;
      }

      @media(max-width: 768px) {
        display: none;
      }
    }
  }

  &-title {
    font-size: 70px;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 20px;

    @media(max-width: 1250px) {
      font-size: 62px;
    }

    @media(max-width: 1024px) {
      font-size: 45px;
      margin-bottom: 15px;
    }

    @media(max-width: 768px) {
      font-size: 42px;
    }

    @media(max-width: 576px) {
      font-size: 38px;
    }

    @media(max-width: 380px) {
      font-size: 32px;
    }

    .ui-highlighted {
      height: 78px;
      line-height: 62px;

      @media(max-width: 1250px) {
        height: 70px;
        line-height: 51px;
      }

      @media(max-width: 1024px) {
        height: 60px;
      }

      @media(max-width: 768px) {
        height: 55px;
        line-height: 47px;
      }
    }
  }

  &-subtitle {
    font-size: 25px;
    text-align: center;
    max-width: 390px;
    margin: 0 auto;

    @media(max-width: 1024px) {
      font-size: 22px;
    }

    @media(max-width: 768px) {
      font-size: 20px;
    }

    @media(max-width: 576px) {
      font-size: 18px;
    }

    @media(max-width: 380px) {
      font-size: 16px;
    }
  }

  &-links {
    // margin-left: 40px;
    text-align: center;

    .ui-btn {
      margin-right: 20px;

      @media(max-width: 510px) {
        width: 100%;

        &.blue {
          margin-bottom: 12px;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-car {
    position: relative;
    // text-align: right;
    // line-height: 0;

    background-image: url('../images/greeting-car-1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right -55px bottom;
    z-index: 9999;

  }
}

.description {
  padding: 60px 0 40px 0;
  background: #F4F5F6;
  font-size: 20px;
  color: #292929;
  text-align: center;

  @media(max-width: 768px) {
    padding: 40px 0 20px 0;
  }

  @media(max-width: 768px) {
    font-size: 18px;
  }

  @media(max-width: 576px) {
    font-size: 16px;
  }

  &-txt {
    max-width: 960px;
    margin: 0 auto;
  }
}

.participation {
  // background: #F4F5F6;
  padding: 100px 0;
  color: #292929;

  @media(max-width: 1250px) {
    padding: 80px 0;
  }

  @media(max-width: 1024px) {
    padding: 60px 0;
  }

  @media(max-width: 768px) {
    padding: 40px 0;
  }

  .row {
    @media(max-width: 768px) {
      flex-direction: column-reverse;
    }
  }

  &-info {
    padding-top: 60px;
    padding-left: 70px;

    @media(max-width: 1024px) {
      padding-left: 30px;
    }

    @media(max-width: 768px) {
      padding-top: 0;
      padding-left: 0;
      margin-bottom: 45px;
    }
  }

  &-txt {
    margin-bottom: 40px;

    @media(max-width: 1024px) {
      margin-bottom: 25px;
    }

    .ui-title {
      margin-bottom: 15px;
    }

    li {
      position: relative;
      padding-left: 28px;
      margin-bottom: 15px;
      font-size: 25px;

      @media(max-width: 1024px) {
        font-size: 20px;
      }

      @media(max-width: 576px) {
        font-size: 18px;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 11px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #00AAFF;

        @media(max-width: 576px) {
          top: 5px;
        }
      }
    }
  }

  &-participants {
    position: relative;
    padding: 60px 70px;
    background: #F4F5F6;
    border-radius: 42px;
    box-shadow: 0px 0px 54px -8px rgba(0, 0, 0, 0.03);

    @media(max-width: 1250px) {
      padding: 50px 40px;
    }

    @media(max-width: 1024px) {
      padding: 35px;
    }

    @media(max-width: 768px) {
      padding: 30px 20px;
      margin: 0 -20px;
      border-radius: 0;
    }

    .participation-star1 {
      position: absolute;
      top: -43px;
      left: -36px;
      z-index: 0;

      @media(max-width: 1250px) {
        width: 70px;
        left: 0;
        // top: 0;
      }

      @media(max-width: 768px) {
        display: none;
      }
    }

    .participation-star2 {
      position: absolute;
      right: -57px;
      bottom: -11px;
      z-index: 0;

      @media(max-width: 1250px) {
        width: 70px;
        // right: 0;
        // bottom: 0;

        @media(max-width: 768px) {
          display: none;
        }
      }
    }

    .ui-title {
      margin-bottom: 25px;
    }

    ul {
      margin-bottom: 38px;
    }

    li {
      font-size: 20px;
      position: relative;
      padding-left: 28px;
      margin-bottom: 15px;

      @media(max-width: 1024px) {
        font-size: 18px;
      }

      @media(max-width: 576px) {
        font-size: 16px;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 11px;
        width: 21px;
        height: 2px;
        background-color: #00AAFF;
      }
    }

    h5 {
      margin-top: 0;
      margin-bottom: 15px;
      font-size: 25px;
      line-height: 1.3;
      font-weight: 400;

      @media(max-width: 1024px) {
        font-size: 20px;
      }

      @media(max-width: 576px) {
        font-size: 18px;
      }
    }

    &-link {
      @media(max-width: 1024px) {
        flex-wrap: wrap;
      }

      @media(max-width: 768px) {
        flex-wrap: nowrap;
      }

      @media(max-width: 576px) {
        flex-wrap: wrap;
      }

      .ui-btn {
        margin-right: 15px;
        padding: 0 10px;
        max-width: 58%;
        width: 100%;

        @media(max-width: 1024px) {
          max-width: 100%;
        }

        @media(max-width: 768px) {
          max-width: 50%;
        }

        @media(max-width: 576px) {
          max-width: 100%;
        }

        &.blue {
          max-width: 42%;

          @media(max-width: 1024px) {
            max-width: 100%;
            margin-bottom: 15px;
            margin-right: 0;
          }

          @media(max-width: 768px) {
            max-width: 50%;
            margin-right: 15px;
            margin-bottom: 0;
          }

          @media(max-width: 576px) {
            max-width: 100%;
            margin-right: 0;
            margin-bottom: 15px;
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.rules {
  padding: 100px 0;
  background: #F4F5F6;

  @media(max-width: 1250px) {
    padding: 80px 0;
  }

  @media(max-width: 1024px) {
    padding: 60px 0;
  }

  @media(max-width: 768px) {
    padding: 40px 0;
  }

  .ui-title {
    text-align: center;
    margin-bottom: 60px;

    @media(max-width: 1250px) {
      margin-bottom: 40px;
    }

    @media(max-width: 1024px) {
      margin-bottom: 35px;
    }

    @media(max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &-link {
    text-align: center;
    line-height: 0;
  }

  &-block {
    padding: 80px;
    background: #fff;
    box-shadow: 0px 0px 123.068px -18.2323px rgba(0, 0, 0, 0.12);
    max-width: 1050px;
    margin: 0 auto;
    border-radius: 60px;
    margin-bottom: 60px;

    @media(max-width: 1250px) {
      padding: 65px;
      margin-bottom: 40px;
    }

    @media(max-width: 1024px) {
      padding: 55px;
      margin-bottom: 35px;
    }

    @media(max-width: 576px) {
      padding: 35px 20px;
      margin: 0 -20px 60px;
      border-radius: 0;
      margin-bottom: 30px;
    }

    ol {
      counter-reset: item;
    }

    li {
      counter-increment: item;
      position: relative;
      padding-left: 80px;
      font-size: 25px;
      margin-bottom: 68px;

      &:before {
        content: counter(item);
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);
        border-radius: 50%;
        text-align: center;
        color: #fff;
        font-size: 20px;
        min-width: 48px;
        height: 48px;
        line-height: 48px;
        padding: 0 2px;
        display: inline-block;
        letter-spacing: 0;
        background: #00AAFF;

        @media(max-width: 1024px) {
          min-width: 38px;
          height: 38px;
          line-height: 38px;
        }

        @media(max-width: 576px) {
          min-width: 24px;
          height: 24px;
          line-height: 24px;
          font-size: 16px;
        }
      }

      &:last-child {
        &::before {
          background-image: url('../images/icon/check.svg');
          background-repeat: no-repeat;
          color: #fff;
          font-size: 0;
          background-color: transparent;
          border: 1px solid #000;
          background-position: 50% 50%;

          @media(max-width: 576px) {
            background-size: 14px;
          }
        }
      }

      @media(max-width: 1250px) {
        margin-bottom: 45px;
      }

      @media(max-width: 1024px) {
        margin-bottom: 25px;
        padding-left: 60px;
        font-size: 20px;
      }

      @media(max-width: 576px) {
        font-size: 16px;
        padding-left: 35px;
        margin-bottom: 15px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    // &-num {
    //   position: absolute;
    //   left: 0;
    //   top: 50%;
    //   transform: translate(0, -50%);
    //   border-radius: 50%;
    //   text-align: center;
    //   color: #fff;
    //   font-size: 20px;
    //   min-width: 48px;
    //   height: 48px;
    //   line-height: 48px;
    //   padding: 0 2px;
    //   display: inline-block;
    //   letter-spacing: 0;
    //   background: #00AAFF;

    //   @media(max-width: 1024px) {
    //     min-width: 38px;
    //     height: 38px;
    //     line-height: 38px;
    //   }

    //   @media(max-width: 576px) {
    //     min-width: 24px;
    //     height: 24px;
    //     line-height: 24px;
    //     font-size: 16px;
    //   }

    //   img {
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);

    //     @media(max-width: 576px) {
    //       width: 12px;
    //       height: 12px;
    //     }
    //   }

    //   &.check {
    //     background: transparent;
    //     border: 1px solid #000;
    //   }
    // }
  }
}

.program {
  padding: 100px 0;
  background: #F9F9F9;

  @media(max-width: 1250px) {
    padding: 80px 0;
  }

  @media(max-width: 1024px) {
    padding: 60px 0;
  }

  @media(max-width: 768px) {
    padding: 40px 0;
  }

  &-btn {
    text-align: left;
  }

  .ui-title {
    text-align: center;
    margin-bottom: 60px;

    @media(max-width: 1250px) {
      margin-bottom: 40px;
    }

    @media(max-width: 1024px) {
      margin-bottom: 35px;
    }

    @media(max-width: 768px) {
      margin-bottom: 30px;
      font-weight: 700;
    }
  }

  &-slider {
    margin-bottom: 60px;

    @media(max-width: 1024px) {
      margin-bottom: 40px;
    }

    @media(max-width: 515px) {
      margin-bottom: 25px;
    }
  }

  &-control {
    position: relative;
    padding: 0 70px;

    @media(max-width: 768px) {
      padding: 0;
    }
  }

  &-pagination {
    width: 290px;
    margin-right: 20px;

    &.hidden {
      display: none;
    }

    @media(max-width: 576px) {
      margin-right: 10px;
    }

    &-bullet {
      height: 6px;
      background: #E8E8E8;
      border-radius: 57px;
      margin-bottom: 25px;
      cursor: pointer;

      &.active {
        background: #00AAFF;
      }

      @media(max-width: 515px) {
        margin-bottom: 0;
      }
    }

    &-txt {
      color: #292929;
      cursor: pointer;

      @media(max-width: 576px) {
        font-size: 14px;
      }

      @media(max-width: 515px) {
        display: none;
      }
    }
  }

  &-content {
    background: #F9F9F9;

    &-person {
      margin-right: 40px;
      align-items: center;
      max-width: 133px;
      flex: 0 0 133px;

      @media(max-width: 576px) {
        margin-bottom: 10px;
      }
    }

    &-point {
      margin-bottom: 15px;
    }

    &-cover {
      @media(max-width: 1024px) {
        max-width: 550px;
        margin: 0 auto;
        margin-bottom: 15px;
      }

      @media(max-width: 768px) {
        padding: 0 50px;
      }
    }

    &-txt {
      margin-bottom: 20px;

      &.flex {
        align-items: flex-start;
      }

      &.hidden {
        display: none;
      }

      &.active {
        display: block;
      }
    }

    &-img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 8px;
    }

    &-desc {
      color: #848484;
      font-size: 14px;
    }

    &-info {
      padding-top: 10px;
      text-align: left;
      font-size: 16px;

      .ui-title {
        text-align: left;
        margin-bottom: 20px;

        @media(max-width: 576px) {
          font-size: 18px;
        }
      }

      .date {
        margin-bottom: 15px;
        font-size: 18px;
        color: #848484;
      }

      p {
        margin-bottom: 25px;
      }
    }

    &-txt {
      align-items: center;

      @media(max-width: 576px) {
        flex-direction: column;
        align-items: start;
      }

      span {
        margin-right: 28px;
        font-weight: 500;
        // padding-top: 10px;

        @media(max-width: 576px) {
          margin-bottom: 10px;
          display: block;
        }
      }
    }
  }

// .swiper-pagination-bullet {
// 	width: 100%;
//   max-width: 290px;
//   width: 100%;

//   div {
//     height: 6px;
//     width: 100%;
//     background: #E8E8E8;
//     border-radius: 57px;
//   }
// }

// .swiper-pagination-txt {
//   font-size: 16px;
//   color: #000;
// }

.swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
}

.date {
  &-section {
    position: relative;

    .car {
      position: absolute;
      bottom: -62px;
      right: -83px;
      z-index: -1;
      width: 789px;

      @media(max-width: 1250px) {
        width: 700px;
      }

      @media(max-width: 1120px) {
        width: 650px;
      }

      @media(max-width: 1070px) {
        width: 550px;
        bottom: -2px;
      }

      @media(max-width: 1024px) {
        display: none;
      }
    }
  }

  &-time {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;

    @media(max-width: 1024px) {
      margin-bottom: 12px;
      font-size: 18px;
    }

    @media(max-width: 440px) {
      font-size: 16px;
    }
  }

  &-info {
    padding: 100px 0;
    max-width: 650px;
    position: relative;

    @media(max-width: 1250px) {
      padding: 80px 0;
    }

    @media(max-width: 1024px) {
      padding: 60px 0;
      margin: 0 auto;
    }

    @media(max-width: 768px) {
      padding: 40px 0;
    }
  }

  &-txt {
    margin-bottom: 40px;

    @media(max-width: 1250px) {
      margin-bottom: 28px;
    }
  }

  &-title {
    font-size: 48px;
    text-align: center;
    line-height: 1.2;

    @media(max-width: 1250px) {
      font-size: 42px;
    }

    @media(max-width: 1024px) {
      font-size: 38px;
    }

    @media(max-width: 768px) {
      font-size: 35px;
    }

    @media(max-width: 576px) {
      font-size: 30px;
    }

    @media(max-width: 440px) {
      font-size: 20px;
    }

    .ui-highlighted {
      height: 60px;
      line-height: 35px;
      padding: 10px;

      @media(max-width: 1024px) {
        height: 50px;
        line-height: 44px;
        padding: 0;
      }

      @media(max-width: 440px) {
        height: 40px;
        line-height: 38px;
      }
    }
  }

  &-subtitle {
    font-size: 25px;
    text-align: center;
    max-width: 390px;
    margin: 0 auto;
  }

  &-link {
    // margin-left: 40px;
    text-align: center;
    line-height: 0;

    .ui-btn {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.prizes {
  padding: 100px 0;
  background: #F4F5F6;
  text-align: center;

  @media(max-width: 1250px) {
    padding: 80px 0;
  }

  @media(max-width: 1024px) {
    padding: 60px 0;
  }

  @media(max-width: 768px) {
    padding: 40px 0;
  }

  .ui-title {
    margin-bottom: 60px;

    @media(max-width: 1024px) {
      margin-bottom: 35px;
    }

    @media(max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  &-block {
    max-width: 595px;
    margin: 0 auto;
  }

  &-place {
    margin-bottom: 64px;

    @media(max-width: 1024px) {
      margin-bottom: 45px;
    }

    @media(max-width: 768px) {
      margin-bottom: 38px;
    }

    @media(max-width: 576px) {
      margin-bottom: 28px;
    }

    &-img {
      line-height: 0;
      margin-bottom: 24px;

      @media(max-width: 576px) {
        padding: 0 45px;
      }
    }

    &-title {
      font-weight: 700;
      font-size: 25px;

      @media(max-width: 1024px) {
        font-size: 22px;
      }

      @media(max-width: 768px) {
        font-size: 18px;
      }

      p {
        margin-bottom: 2px;
      }
    }

    &-subtitle {
      font-size: 20px;

      @media(max-width: 1024px) {
        font-size: 18px;
      }

      @media(max-width: 768px) {
        font-size: 16px;
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  &-another {
    text-align: center;

    &-title {
      color: #FF4053;
      font-weight: 500;
      font-size: 25px;

      @media(max-width: 1024px) {
        font-size: 22px;
      }

      @media(max-width: 768px) {
        font-size: 18px;
      }

      p {
        margin-bottom: 2px;
      }
    }

    &-subtitle {
      font-size: 20px;

      @media(max-width: 1024px) {
        font-size: 18px;
      }

      @media(max-width: 768px) {
        font-size: 16px;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}

.form {
  padding: 100px 0;

  @media(max-width: 1250px) {
    padding: 80px 0;
  }

  @media(max-width: 1024px) {
    padding: 60px 0;
  }

  @media(max-width: 768px) {
    padding: 40px 0;
  }

  &-block {
    position: relative;
    padding: 80px 105px;
    background: #F4F5F6;
    border-radius: 42px;

    @media(max-width: 1250px) {
      padding: 50px;
    }

    @media(max-width: 1024px) {
      padding: 40px;
    }

    @media(max-width: 768px) {
      padding: 32px 25px;
    }

    @media(max-width: 576px) {
      padding: 35px 20px;
      margin: 0 -20px;
      border-radius: 0;
    }

    &-fields {
      margin-bottom: 21px;
    }

    &-confirm {
      max-width: 450px;
      margin: 0 auto;
    }

    .ui-title {
      text-align: center;
      margin-bottom: 60px;

      @media(max-width: 1024px) {
        margin-bottom: 35px;
      }

      @media(max-width: 768px) {
        margin-bottom: 30px;
      }
    }

    .ui-checkbox {
      margin-bottom: 40px;
    }

    &-send {
      text-align: center;
    }

    .form-star1 {
      position: absolute;
      right: -26px;
      top: -31px;
      z-index: 0;

      @media(max-width: 1250px) {
        width: 70px;
      }

      @media(max-width: 768px) {
        display: none;
      }
    }

    .form-star2 {
      position: absolute;
      bottom: -5px;
      left: -15px;
      z-index: 0;

      @media(max-width: 1250px) {
        width: 70px;
      }

      @media(max-width: 768px) {
        display: none;
      }
    }
  }
}

.judge {
  padding: 100px 0 50px 0;

  @media(max-width: 1250px) {
    padding: 80px 0 30px 0;
  }

  @media(max-width: 1024px) {
    padding: 60px 0 30px 0;
  }

  @media(max-width: 768px) {
    padding: 40px 0;
  }

  .ui-title {
    margin-bottom: 60px;
    text-align: center;

    @media(max-width: 1024px) {
      margin-bottom: 35px;
    }

    @media(max-width: 768px) {
      margin-bottom: 30px;
    }

    &.mini {
      margin-bottom: 50px;

      @media(max-width: 1024px) {
        margin-bottom: 30px;
      }

      @media(max-width: 768px) {
        margin-bottom: 25px;
      }
    }
  }

  &-content {
    margin-bottom: 20px;

    @media(max-width: 1024px) {
      margin-bottom: 10px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-list {
      flex-wrap: wrap;
      max-width: 950px;
      justify-content: center;
      margin: 0 auto;
    }

    &-person {
      text-align: center;
      margin-bottom: 50px;
      max-width: 140px;
      margin-right: 25px;
      margin-left: 25px;

      @media(max-width: 1024px) {
        margin-bottom: 30px;
        margin-right: 15px;
        margin-left: 15px;
      }

      @media(max-width: 768px) {
        margin-bottom: 25px;
        margin-right: 8px;
        margin-left: 8px;
      }

      @media(max-width: 510px) {
        width: 140px;
      }

      @media(max-width: 350px) {
        width: 120px;
      }
    }

    &-img {
      margin-bottom: 25px;
      line-height: 0;

      @media(max-width: 1024px) {
        margin-bottom: 20px;
      }

      @media(max-width: 768px) {
        margin-bottom: 10px;
      }

      img {
        width: 140px;
        height: 140px;
        border-radius: 50%;

        @media(max-width: 1024px) {
          width: 100px;
          height: 100px;
        }

        @media(max-width: 768px) {
          width: 75px;
          height: 75px;
        }

        @media(max-width: 520px) {
          width: 62px;
          height: 62px;
        }
      }
    }

    &-name {
      font-size: 18px;

      @media(max-width: 1024px) {
        font-size: 16px;
      }
    }
  }
}

.result {
  padding: 100px 0;

  @media(max-width: 1250px) {
    padding: 80px 0;
  }

  @media(max-width: 1024px) {
    padding: 60px 0;
  }

  @media(max-width: 768px) {
    padding: 40px 0;
  }

  .ui-title {
    margin-bottom: 60px;
    text-align: center;

    @media(max-width: 1024px) {
      margin-bottom: 35px;
    }

    @media(max-width: 768px) {
      margin-bottom: 30px;
    }

    &.mini {
      margin-bottom: 55px;
      text-align: left;

      @media(max-width: 1024px) {
        margin-bottom: 30px;
      }

      @media(max-width: 768px) {
        margin-bottom: 25px;
      }
    }
  }

  &-block {
    padding: 80px;
    background: #F4F5F6;
    border-radius: 60px;
    margin-bottom: 60px;

    @media(max-width: 1024px) {
      padding: 45px;
      margin-bottom: 30px;
    }

    @media(max-width: 768px) {
      padding: 40px 35px;
    }

    @media(max-width: 576px) {
      padding: 40px 20px;
      margin: 0 -20px 30px;
      border-radius: 0;
    }

    &-stage {
      position: relative;
      padding-left: 172px;
      font-size: 25px;
      margin-bottom: 50px;

      @media(max-width: 1024px) {
        padding-left: 110px;
        font-size: 20px;
        margin-bottom: 25px;
      }

      @media(max-width: 768px) {
        font-size: 18px;
        margin-bottom: 20px;
        padding-left: 100px;
      }

      @media(max-width: 576px) {
        font-size: 16px;
        margin-bottom: 20px;
        padding-left: 90px;
      }

      @media(max-width: 420px) {
        padding-left: 0;
        margin-bottom: 28px;
      }

      &:last-child {
        margin-bottom: 0;

        p {
          margin-bottom: 0;
        }
      }

      p {
        margin-bottom: 30px;

        @media(max-width: 1024px) {
          margin-bottom: 20px;
        }
      }
    }

    &-step {
      position: absolute;
      left: 0;
      top: -5px;
      border-radius: 50px;
      text-align: center;
      color: #fff;
      font-size: 32px;
      min-width: 48px;
      height: 35px;
      line-height: 1;
      padding: 0 12px;
      display: inline-block;
      letter-spacing: 0;
      background: #0af;

      @media(max-width: 1024px) {
        font-size: 22px;
        height: 28px;
        top: 0;
      }

      @media(max-width: 768px) {
        font-size: 20px;
        height: 24px;
      }

      @media(max-width: 576px) {
        font-size: 18px;
        height: 22px;
      }

      @media(max-width: 420px) {
        position: static;
        margin-bottom: 8px;
      }
    }
  }

  &-link {
    text-align: center;
    line-height: 0;
  }
}

.organizer {
  padding: 60px 0;
  background: #F4F5F6;
  color: #292929;
  text-align: center;

  @media(max-width: 768px) {
    padding: 40px 0;
  }

  &-txt {
    max-width: 574px;
    margin: 0 auto;
  }

  &-title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;

    p {
      margin-bottom: 0;
    }
  }

  &-subtitle {
    font-size: 18px;
    margin-bottom: 20px;

    @media(max-width: 768px) {
      font-size: 18px;
    }

    p {
      margin-bottom: 0;
    }
  }

  &-desc {
    color: #ABABAB;
    margin-bottom: 10px;
    line-height: 1.4;

    @media(max-width: 768px) {
      font-size: 14px;
    }

    p {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.faq {
  padding: 100px 0;

  @media(max-width: 1024px) {
    padding: 60px 0;
  }

  @media(max-width: 768px) {
    padding: 40px 0;
  }

  .ui-title {
    text-align: center;
    margin-bottom: 52px;

    @media(max-width: 1024px) {
      margin-bottom: 35px;
    }

    @media(max-width: 768px) {
      margin-bottom: 30px;
    }
  }
}

.subscription {
  .row {
    @media(max-width: 1024px) {
      align-items: center;
    }
  }

  .ui-title {
    margin-bottom: 40px;
  }

  &-info {
    padding: 100px 0;
    max-width: 620px;

    @media(max-width: 1024px) {
      padding: 60px 0;
      margin-right: 20px;
    }

    @media(max-width: 768px) {
      margin-right: 0;
    }

    @media(max-width: 768px) {
      padding: 40px 0;
      margin: 0 auto;
      text-align: center;
    }

    .ui-link {
      font-weight: 500;
    }
  }

  &-side {
    position: relative;
    padding: 100px 0;
    text-align: center;

    @media(max-width: 1024px) {
      padding: 60px 20px;
    }

    @media(max-width: 768px) {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      right: -1000px;
      left: -22px;
      bottom: 0;
      height: 100%;
      background: rgba(0, 170, 255, 0.09);
      z-index: -1;

      @media(max-width: 1024px) {
        left: 0;
      }
    }

    img {
      text-align: center;

      @media(max-width: 1024px) {
        max-width: 250px;
      }
    }
  }
}

.support {
  padding: 80px 0;
  text-align: center;

  @media(max-width: 1024px) {
    padding: 60px 0;
  }

  @media(max-width: 768px) {
    padding: 40px 0;
  }

  @media(max-width: 768px) {
    br {
      display: none;
    }
  }

  .ui-title {
    margin-bottom: 15px;
  }

  .ui-link {
    margin-bottom: 35px;

    @media(max-width: 1024px) {
      margin-bottom: 30px;
    }

    @media(max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  p {
    color: #ABABAB;
    line-height: 1.4;
  }
}